.elevator {
  height: 100px;
  width: 70px;
  border: solid 1px black;
}

form {
  margin: 0 auto;
  min-height: 8rem;
  width: 12rem;
  padding: 2rem;
}
form > * {
  margin: 8px 0;
}

.floor {
  height: 100px;
  border-bottom: solid 2px black;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.elevator {
  display: grid;
  place-items: center;
  transition: all 1000ms ease-in;
}
.elevator-door {
  height: 90%;
  width: 90%;
  background: blue;
  transition: 500ms ease-in;
}
.elevator-door.open {
  width: 0,
}
.elevator-buttons {
  display: flex;
  flex-flow: column;
  margin-right: 1rem;
  gap: 8px;
}
.up-button,
.down-button {
  height: 35px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.up-button {
  background: green;
}
.down-button {
  background: yellow;
}
